span.details {
	display: block;
	width: 300px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #949494;
	font-size: 13px;
	font-style: italic;
	cursor: pointer;
}

span.name {
	display: block;
	font-size: 14px;
	font-weight: 700;
	text-align: justify;
	direction: rtl;
	cursor: pointer;
}
