*,
body,
html {
	padding: 0;
	margin: 0;
}

.ant-layout-header {
	line-height: 0 !important;
}

nz-header,
app-navbar,
nz-sider,
nz-content,
nz-footer {
	display: block;
}

:host {
	text-align: center;
}

nz-header {
	clear: both;
	height: 40px;
}

nz-footer {
	line-height: 1.5;
	clear: both;
	height: 30px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

nz-content {
	position: absolute!important;
	height: calc(100% - 70px) !important;
	left: 200px!important;
	top: 40px!important;
	width: calc(100% - 200px) !important;
	background: white!important;
	display: inline-table;
	padding-bottom: 20px;
}

nz-sider {
	position: absolute;
	height: calc(100% - 70px);
	left: 0;
	background: #f0f0f0;
	width: 200px !important;
	max-width: 200px !important;
}

nz-layout {
	margin-bottom: 48px;
	clear: both;
}

nz-layout:last-child {
	margin: 0;
}

// Button
// Blue
$color-blue: #0cf;

::ng-deep .button-blue {
	display: inline-block;
	padding: 0.5rem 0.75rem;
	border-radius: 10rem;
	color: #fff;
	text-transform: uppercase;
	font-size: 1rem;
	letter-spacing: 0.15rem;
	transition: all 0.3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
	border: 0;
	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color-blue;
		border-radius: 10rem;
		z-index: -2;
	}
	&:before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		height: 100%;
		background-color: darken($color-blue, 15%);
		transition: all 0.3s;
		border-radius: 10rem;
		z-index: -1;
	}
	&:hover {
		color: #fff;
		&:before {
			width: 100%;
		}
	}
}

// Green
$color-green: #9dd634;

::ng-deep .button-green {
	display: inline-block;
	padding: 0.5rem 0.75rem;
	border-radius: 10rem;
	color: #fff;
	text-transform: uppercase;
	font-size: 1rem;
	letter-spacing: 0.15rem;
	transition: all 0.3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
	border: 0;
	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color-green;
		border-radius: 10rem;
		z-index: -2;
	}
	&:before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		height: 100%;
		background-color: darken($color-green, 15%);
		transition: all 0.3s;
		border-radius: 10rem;
		z-index: -1;
	}
	&:hover {
		color: #fff;
		&:before {
			width: 100%;
		}
	}
}

// Red
$color-red: rgb(255, 50, 50);

::ng-deep .button-red {
	display: inline-block;
	padding: 0.5rem 0.75rem;
	border-radius: 10rem;
	color: #fff;
	text-transform: uppercase;
	font-size: 1rem;
	letter-spacing: 0.15rem;
	transition: all 0.3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
	border: 0;
	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color-red;
		border-radius: 10rem;
		z-index: -2;
	}
	&:before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		height: 100%;
		background-color: darken($color-red, 15%);
		transition: all 0.3s;
		border-radius: 10rem;
		z-index: -1;
	}
	&:hover {
		color: #fff;
		&:before {
			width: 100%;
		}
	}
}

//Yellow
$color-yellow: #e6e223;

::ng-deep .button-yellow {
	display: inline-block;
	padding: 0.5rem 0.75rem;
	border-radius: 10rem;
	color: #fff;
	text-transform: uppercase;
	font-size: 1rem;
	letter-spacing: 0.15rem;
	transition: all 0.3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
	border: 0;
	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color-yellow;
		border-radius: 10rem;
		z-index: -2;
	}
	&:before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		height: 100%;
		background-color: darken($color-yellow, 15%);
		transition: all 0.3s;
		border-radius: 10rem;
		z-index: -1;
	}
	&:hover {
		color: #fff;
		&:before {
			width: 100%;
		}
	}
}

//Gray
$color-gray: #a0a0a0;

::ng-deep .button-gray {
	display: inline-block;
	padding: 0.5rem 0.75rem;
	border-radius: 10rem;
	color: #fff;
	text-transform: uppercase;
	font-size: 1rem;
	letter-spacing: 0.15rem;
	transition: all 0.3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
	border: 0;
	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color-gray;
		border-radius: 10rem;
		z-index: -2;
	}
	&:before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		height: 100%;
		background-color: darken($color-gray, 15%);
		transition: all 0.3s;
		border-radius: 10rem;
		z-index: -1;
	}
	&:hover {
		color: #fff;
		&:before {
			width: 100%;
		}
	}
}

// 